@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

  body {
      margin: 0;
      background-color: #333; /* Change to a darker color */
      background-image: url('../torontoshop.jpg'); /* Replace with the path to your image */
      font-family: 'Plus Jakarta Sans', sans-serif; /* Apply the imported font */
  }

  /* .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signup-container h2 {
    justify-content:center ;
    margin-bottom: 20px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container form div {
    margin-bottom: 10px;
  }
  
  .signup-container form div label {
    font-weight: bold;
  }
  
  .signup-container form div select,
  .signup-container form div input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  Center the container
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
   